# Copy this file to "docker.env.local" and
# change values according to your needs.

VITE_CG_DATA_REFRESH_INTERVAL="60000"
VITE_PLUGIN_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----<key>-----END PUBLIC KEY-----\n"
PLUGIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----<key>-----END PRIVATE KEY-----\n"
COOKIE_SECRET="your_cookie_secret"
VITE_URL_PREFIX="/"